# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - eggpnewtest

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: '12.13.0'

      - name: npm install, build, and test
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present
      - name: compress files using powershell
        run: powershell Compress-Archive -Path D:\a\mmhe_eggp_test\mmhe_eggp_test\ -DestinationPath build.zip
        
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2.2.4
        with:
          name: node-app
          path: build.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: node-app
          
      - name: uncompress files using powershell
        run: powershell Expand-Archive -Path D:\a\mmhe_eggp_test\mmhe_eggp_test\build.zip -DestinationPath /home/runner/work/mmhe_eggp_test/mmhe_eggp_test
        
      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v2
        id: deploy-to-webapp
        with:
          app-name: 'eggpnewtest'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_CC484B8CC16D4BE3B1C9B4A0EA85174F }}
          package: .
